@charset "utf-8";
/* CSS Document */
body {
    margin: 0px;
    padding: 10px;
    font-size: 1em;
    line-height: 1.3em;
    font-family: Arial, sans-serif;
    background-color: #F8F8FF;
    color: #0C243C;
}

body ul{
    text-align: center;
    text-decoration: none;
}
/* classes */
.burntred {
	color: #E94D40;
}
.navyblue {
	color: #0C243C;
}
.specialcakesfont {
	font-family: Arial, sans-serif;
}
.floatleft {
    float: left;
}
.floatright {
    float: right;
}
.clearboth {
    clear: both;
}

.nav ul {
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

.main-header {
    max-width: 100%;
    height: 100px;
    padding: 10px;
    background-color: white;
    position: relative;
}


.nav li {
    display: inline;
    margin: 0;
}

.nav a {
    display: inline;
    padding: .5em;
    color: black;
    text-decoration: none;
}

.nav{
    float: right;
    display: inline;
    color: #E94D40;
    padding: 14px 16px;
    font-weight: lighter;
    text-decoration: none;
}

.nav a:hover {
    background-color: #E94D40;
}

.div{
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background-color: #F8F8FF;
}

.div ul{
    list-style: none;
    text-align: floatleft;

}

div.form
{
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
form
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.footer {
    max-width: 100%;
    height: auto;
    padding: 0px;
    background-color: #0C243C;
    color: white;
    text-align: center;

}

.table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 50%;
}

.th td {
    text-align: floatright;
    padding: 5px;
}

.allergy{
    font-size: 0.8em;
}

.img {
      max-width: 100%;
      height: auto;
}

input[type=text], select, textarea {
    color: #0C243C;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: center;
}

input[type=submit]:hover {
    background-color: #E94D40;
}


.container {
    width: 75%;
    margin: auto;
    border-radius: 5px;
    background-color: #F5F5F5;
    padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
.col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.p {
    color: #0C243C;
}